<div class="customtext-container mt-2">
    <h2>Lägg till fritext</h2>
    <!-- Action Buttons -->
    <div class="form-group">
        <button @onclick="InitEditNewText" class="btn btn-primary btn-sm spcl-btn">Lägg till egen fritext</button>
        @if (!AreAllPredefinedTextsAdded())
        {
            <button @onclick="AddAllPredefinedTexts" class="btn btn-primary btn-sm spcl-btn">Lägg till all förslagna fritext</button>
        }
        @if (CustomTexts.Count >= 2)
        {
            <button @onclick="ClearTexts" class="btn btn-danger btn-sm spcl-btn">Ta bort all fritext</button>
        }
    </div>

    <!-- Temporary Custom Text Editing UI -->
    @foreach (var tempText in TempCustomTexts)
    {
        @if (tempText.IsInEditMode)
        {
            <div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Text</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Text" @bind="tempText.Text">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-group">
                            <label>X Position</label>
                            <input type="number" class="form-control form-control-sm" placeholder="X Position" @bind="tempText.PositionX">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-group">
                            <label>Y Position</label>
                            <input type="number" class="form-control form-control-sm" placeholder="Y Position" @bind="tempText.PositionY">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-group">
                            <label>FontSize</label>
                            <input type="number" class="form-control form-control-sm" placeholder="FontSize" @bind="tempText.FontSize">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-group">
                            <label>Färg</label>
                            <input type="color" class="form-control form-control-sm" @bind="tempText.Color">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button @onclick="() => AddOrSaveText(tempText)" class="btn btn-primary btn-sm spcl-btn">OK</button>
                    <button @onclick="() => CancelCustomText(tempText) " class="btn btn-danger btn-sm spcl-btn">Cancel</button>
                    @if (!AreAllPredefinedTextsAdded())
                    {
                        <button @onclick="(AddNextPredefinedText)" class="btn btn-secondary btn-sm spcl-btn">Fyll med nästa förslagna fritext</button>
                    }
                </div>

            </div>
        }
    }

    <!-- Permanent Custom Texts Display -->
    @foreach (var customText in CustomTexts)
    {
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <span>@customText.Text</span>
                    <button @onclick="() => ToggleTextEditing(customText, true)" class="btn btn-secondary btn-sm mr-2">Redigera</button>
                    <button @onclick="() => RemoveText(customText)" class="btn btn-danger btn-sm">Ta bort</button>
                </div>
            </div>
        </div>
    }
</div>