@page "/create-template"
@using AppBlazor.Components

<div class="create-template mb-0">
    <!-- Ticket Type Selection Dropdown -->
    <div class="mb-3">
        <label for="ticketTypeSelect" class="form-label">Fördefinerade mallar:</label>
        <div class="info-text">
            Kom igång snabbt med en av våra fördefinierade mallar, som du enkelt kan anpassa ytterligare för att passa just dina behov.
        </div>
        <select class="form-select" id="ticketTypeSelect" @onchange="OnTicketTypeChanged" value="@selectedTicketType">
            <option value="">Ingen vald</option>
            <option value="Numrerad">Numrerad</option>
            <option value="Onumrerad">Onumrerad</option>
            <option value="Presentkort">Presentkort</option>
        </select>
    </div>

    <!-- PDF Creator Component -->
    <PdfCreatorComponent OnSave="HandlePdfSaved" CustomTexts="@ticketHandling.CustomTextElements" TicketHandling="@ticketHandling" />

    <!-- PDF Preview Section -->
    <PdfPreviewComponent PdfBase64="@pdfBase64" />

    <!-- PDF SaveToDb Section -->
    <ModalsComponent @ref="successModal"
                     OnStartFresh="HandleStartFresh"
                     OnContinueFromCurrent="HandleContinueFromCurrent"
                     OnSelectExistingTemplates="HandleSelectExistingTemplates" />


    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="validation-message" role="alert">
            @ErrorMessage
        </div>
    }
</div>
