@page "/"
@using Services
@inject HttpClient httpClient
@inject ConfigService configService

<div class="home-container">
    <section class="introduction">
        <h1>Välkommen till PDF-malleditorn</h1>
        <p>Skapa, hantera och distribuera PDF-mallar för olika artiklar, från evenemangsbiljetter till presentkort.</p>
    </section>

    <section class="features-overview">
        <h2>Nyckelfunktioner</h2>
        <ul>
            <li>Dynamisk skapande av PDF-mallar: Anpassa mallar efter dina artiklar med val för allt.</li>
            <li>Snabbt val av fördesignade mallar: Välj snabbt mellan våra redan skapade designmallar för varierande artiklar.</li>
            <li>Hantering av mallar: Uppdatera eller radera befintliga mallar enkelt.</li>
            <li>Hög prestanda: Generera PDF:er snabbt, även för stora partier.</li>
        </ul>
    </section>

    <section class="page-options mt-5">
        <h2 class="text-center mb-4">Vad vill du göra? </h2>
        <div class="row">
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card d-flex flex-column">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Skapa mall</h5>
                        <p class="card-text">Starta processen att skapa en ny PDF-mall för dina behov.</p>
                        <a href="/create-template" class="btn btn-primary mt-auto">Gå till Skapa mall</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card d-flex flex-column">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Befintliga mallar</h5>
                        <p class="card-text">Granska och hantera dina befintliga PDF-mallar.</p>
                        <a href="/existing-templates" class="btn btn-primary mt-auto">Gå till Befintliga mallar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card d-flex flex-column">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Simulera köp</h5>
                        <p class="card-text">Testa köpprocessen med en förhandsgranskning av när en kund gör ett köp med din design.</p>
                        <a href="/get-tickets" class="btn btn-primary mt-auto">Gå till Simulera köp</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@code {
    private ConfigService ConfigService => configService ?? throw new InvalidOperationException("ConfigService is not configured.");

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var requestUri = ConfigService.GetApiUrl($"/api/PdfTemplate/WarmUp");
            await httpClient.GetAsync(requestUri);
            Console.WriteLine("API and database warmed up successfully.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred during the warm-up process: {ex.Message}");
        }
    }

}
